<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>
    <form @submit.prevent="addTodo">
      <input type="text" v-model="userInput">
      <input type="submit" value="Add">
    </form>

    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const todos = ref([
          {
            id : 1,
            text : '생필품 구입',
            isCompleted : false
          },
          {
            id : 2,
            text : '빨래',
            isCompleted : true
          },
          {
            id : 3,
            text : '방 청소',
            isCompleted : false
          },
        ])
        const userInput = ref('')
        const addTodo = function () {
          if (userInput.value.trim() !== '') {
          const newTodo = {
            id : Date.now(),
            text : userInput.value,
            isCompleted : false,
          }
          todos.value.push(newTodo)
          userInput.value = ''
        }
        }
        const deleteTodo = function (todoId) {
          const num = todos.value.findIndex(todo => todo.id === todoId)
          if (num !== -1) {
            todos.value.splice(num, 1)
          }
        }
        return { todos, userInput,
                  addTodo, deleteTodo}
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
