<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>hello, {{user.username}}</h2>
    <a href="{% url "accounts:login" %}">[LOGIN]</a>
    <form action="{% url "accounts:logout" %}">
        <input type="submit" value = "LOGOUT">
    </form>
    <h1>전체 유저 목록</h1>
    {% for user in users %}
        <ul>
            <li>
                {{user.username}}
                <ul>
                    <li>
                        {{user.score}}
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
    {% endfor %}
    
</body>
</html>