<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  {% block style %}
  {% endblock style %}
</head>
<body>
  {% block content %}
  {% endblock content %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <script>
    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            // 화면에 들어옴
            entry.target.classList.add("fade-in");
          } else {
            // 화면에서 나감
            entry.target.classList.remove("fade-in");
          }
        });
      },
      // 화면에서 해당 요소가 10% 이상 보일 경우 화면에 들어온 것으로 판단함
      { threshold: 0.1 }
    );
  
    // 관찰 대상 설정
    const targetElements = document.querySelectorAll(".fade-wrap");
    targetElements.forEach((element) => {
      observer.observe(element);
    });
  </script>
</body>
</html>